<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Music Genre Classifier</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Music Genre Classifier</h1>
      <form id="upload-form">
        <div class="drop-area">
          <input
            type="file"
            id="audio-file"
            name="audio-file"
            accept="audio/*"
            hidden
          />
          <label for="audio-file"
            >Drag and drop your audio file here or click to select a file</label
          >
          <div id="file-name"></div>
        </div>
        <button type="submit">Predict Genre</button>
      </form>
      <div id="result"></div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
